*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Pretendard,Arial,sans-serif;
}

body{

background:#0f1627;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

color:white;

}

.background{

position:fixed;

inset:0;

background:
radial-gradient(circle at top,#22345f 0%,transparent 40%),
radial-gradient(circle at bottom,#18243d 0%,transparent 40%),
#0d1423;

}

.card{
    width:92%;
    max-width:430px;
}
position:relative;

width:430px;

padding:45px;

border-radius:25px;

background:rgba(14,22,42,.88);

backdrop-filter:blur(16px);

border:1px solid rgba(255,255,255,.08);

box-shadow:

0 0 80px rgba(0,0,0,.4),

0 0 40px rgba(80,90,255,.1);

text-align:center;

}

.logo{

width:82px;

height:82px;

margin:auto;

border-radius:24px;

background:linear-gradient(135deg,#9046ff,#3767ff);

display:flex;

align-items:center;

justify-content:center;

box-shadow:

0 0 35px rgba(124,96,255,.45);

margin-bottom:28px;

}

.logo svg{

width:46px;

}

h1{

font-size:46px;

font-weight:700;

margin-bottom:15px;

}

h2{

font-size:21px;

font-weight:500;

opacity:.95;

margin-bottom:18px;

}

.desc{

color:#9da7c5;

line-height:1.8;

margin-bottom:35px;

}

.inputBox{

margin-bottom:20px;

}

input{

width:100%;

padding:18px;

border:none;

outline:none;

border-radius:14px;

background:#1b2741;

color:white;

font-size:18px;

}

input::placeholder{

color:#7d88a8;

}

button{

width:100%;

padding:18px;

border:none;

border-radius:14px;

font-size:22px;

cursor:pointer;

font-weight:700;

background:linear-gradient(90deg,#a042ff,#2f64ff);

color:white;

transition:.25s;

}

button:hover{

transform:translateY(-2px);

box-shadow:0 12px 30px rgba(88,103,255,.35);

}

.line{

margin:40px 0 25px;

display:flex;

align-items:center;

color:#7e89a5;

}

.line::before,

.line::after{

content:"";

flex:1;

height:1px;

background:#29334d;

}

.line span{

padding:0 18px;

}

.notice{

color:#b8c0d7;

line-height:1.9;

}

.footer{

margin-top:36px;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

font-size:22px;

color:#2ad58d;

}

@media(max-width:600px){

.card{

width:92%;

padding:30px;

}

h1{

font-size:36px;

}

}
